<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASM</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almarai&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Athiti&amp;display=swap">
    <link href="~/Content/fonts/ionicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar">
        <div class="container">
            <p class="navbar-brand logo nav-item text-black">FPT Education Manager</p><button data-bs-toggle="collapse" class="navbar-toggler gradient" data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home")
                    @if ((User.IsInRole("Trainee")) || (User.IsInRole("Trainer")))
                    {
                        <li class="nav-item">@Html.ActionLink("Course Assigned", "CourseAssigned", "Train")</li>
                        <li class="nav-item">@Html.ActionLink("Course Available", "Course", "Train")</li>
                    }
                    @if (User.IsInRole("TrainingStaff"))
                    {
                        <li class="nav-item">@Html.ActionLink("Course", "Course", "TrainingStaff")</li>
                        <li class="nav-item">@Html.ActionLink("Course Category", "CourseCategory", "TrainingStaff")</li>
                        <li class="nav-item">@Html.ActionLink("Trainee", "Trainee", "TrainingStaff")</li>
                        <li class="nav-item">@Html.ActionLink("Trainer", "Trainer", "TrainingStaff")</li>
                    }
                    @if (User.IsInRole("Administrator"))
                    {
                        <li class="nav-item">@Html.ActionLink("Training Staff", "TrainingStaff", "Admin")</li>
                        <li class="nav-item">@Html.ActionLink("Trainer", "Trainer", "Admin")</li>
                        <li class="nav-item">@Html.ActionLink("Role", "Role", "Admin")</li>
                    }
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </nav>
    <div class="content mt-lg-5">
        @RenderBody()
        <footer class="mt-lg-5">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <script src="~/Content/js/theme.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
